<section id="team">
  <div class="container">
    <div class="center">
      <div
        class="content"
        [ngStyle]="{ 'background-image': 'url(' + teamImageUrl + ')' }"
      >
        <div class="member">
          <p class="fullname">{{ team.Biba.fullName }}</p>
          <p class="expertness">{{ team.Biba.expertness }}</p>
        </div>
        <div class="member">
          <p class="fullname">{{ team.Dias.fullName }}</p>
          <p class="expertness">{{ team.Dias.expertness }}</p>
        </div>
        <div class="member">
          <p class="fullname">{{ team.Soska.fullName }}</p>
          <p class="expertness">{{ team.Soska.expertness }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
