<section id="advantages">
  <app-entry [title]="title"></app-entry>
  <div class="container">
    <div class="content">
      <div
        *ngFor="let advantage of advantages; let i = index"
        class="advantage"
      >
        <div class="hexagon center">
          <div class="advantage__number">
            <div class="hexagon">
              <p>0{{ i + 1 }}</p>
            </div>
          </div>

          <div class="description">
            <h3>{{ advantage.title }}</h3>
            <p class="statement" [innerHTML]="advantage.statement"></p>
            <p class="result">{{ advantage.result }}</p>
          </div>

          <div class="advantage__figure">
            <img src="{{ advantage.imageUrl }}" alt="Advantage Icon" />
          </div>
        </div>
        <div class="hexagon-bg"></div>
      </div>
    </div>
  </div>
</section>
