<footer class="footer">
  <div class="container">
    <div class="center-column">
      <div class="content space-between">
        <div class="contacts">
          <div class="contacts__details space-between">
            <div class="contacts__phone">
              <img src="assets/images/contact.svg" alt="Contact Icon" />
              <p>{{ phoneNumber }}</p>
            </div>
            <a href="#" class="social__email text-blue" target="_blank">
              <img src="assets/images/email.svg" alt="Email Icon" />
              <p>{{ email }}</p>
            </a>
          </div>
          <div class="contacts__action space-between">
            <button class="btn-outline" (click)="togglePopup()">
              закажите звонок
            </button>
            <div class="contacts__social">
              <a href="https://t.me/kalnazarr" target="_blank">
                <img src="assets/images/telegram.svg" alt="Telegram Icon" />
              </a>
              <a href="{{ instagramLink }}" target="_blank">
                <img src="assets/images/instagram.svg" alt="Instagram Icon" />
              </a>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="item1"><a href="#work">Примеры работ</a></div>
          <div class="item2"><a href="#advantages">Преимущества</a></div>
          <div class="item3"><a href="#team">Наша команда</a></div>
          <div class="item4">
            <a href="#target-audience">Кому нужен сайт</a>
          </div>
          <div class="item5"><a href="#special-offer">Наше предложение</a></div>
        </div>
      </div>
      <div class="logo__container center">
        <a href="/" class="logo">
          <img src="assets/images/logo-light.svg" alt="Logo" />
        </a>
      </div>
    </div>
  </div>
</footer>
