<header class="header">
  <div class="container">
    <app-nav></app-nav>
    <div class="header__content">
      <div class="content">
        <h1>Разработка продающих сайтов со сроком выполнения от 7 дней</h1>
        <p class="description">
          Выполняем как можно быстрей, но без потери качества. Соблюдаем дедлайн
          со специальным предложением
        </p>
        <button class="btn" (click)="togglePopup()">
          РАССЧИТАТЬ СТОИМОСТЬ вашего проекта за 1 час
        </button>
      </div>
    </div>
  </div>
</header>
