header {
  height: 100vh;
  background-image: url(./../../../assets/images/first-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__content {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.content {
  width: 690px;
  text-align: center;

  .description {
    margin-top: 27px;
    font-size: 24px;
    line-height: 32.63px;
    color: rgba(255, 255, 255, 0.6);
  }

  button {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 100%;
  }

  .content {
    width: 500px;
    padding-bottom: 400px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100%;
    background-image: url(./../../../assets/images/first-bg-mobile.png);
  }

  .header__content {
    margin-top: 43px;
  }

  .content {
    width: 270px;
    padding-bottom: 220px;

    .description {
      margin-top: 20px;
      font-size: 12px;
      line-height: 16px;
    }

    button {
      margin-top: 30px;
    }
  }
}
