<section id="target-audience">
  <div class="container">
    <div class="content">
      <div
        *ngFor="let audience of targetAudience; let i = index"
        class="audience"
      >
        <div class="hexagon">
          <div class="target">
            <img src="{{ audience.imageUrl }}" alt="Audience Icon" />
            <p class="description">{{ audience.description }}</p>
          </div>
          <p class="order">0{{ i + 1 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
