<nav>
  <div class="contacts">
    <div class="contacts__content">
      <img src="./../../../../assets/images/contact.svg" alt="Contact Icon" />
      <p class="contacts__phone">{{ phoneNumber }}</p>
    </div>
    <p class="contacts__availability">
      <span class="red-dot">&bull;</span>
      {{ contactAvailability }}
    </p>
  </div>
  <a href="/" class="logo">
    <img src="./../../../../assets/images/logo.svg" alt="Logo" />
  </a>
  <div class="social">
    <div class="social__email text-blue">
      <img src="./../../../../assets/images/email.svg" alt="Email Icon" />
      <p>{{ email }}</p>
    </div>
    <img src="./../../../../assets/images/telegram.svg" alt="Telegram Icon" />
    <img src="./../../../../assets/images/instagram.svg" alt="Instagram Icon" />
  </div>
</nav>
