nav {
  padding-top: 27px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__content {
  display: flex;

  .contacts__phone {
    margin-left: 7px;
    font-size: 21px;
    cursor: pointer;
  }
}

a img {
  width: 120px;
}

.contacts__availability {
  text-align: end;
  margin-top: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.red-dot {
  color: red;
}

.logo {
  cursor: pointer;
}

.social {
  display: flex;

  .social__email {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      margin-left: 10px;
      border-bottom: 1px solid var(--text-blue);
      font-size: 16px;
    }
  }

  & > img {
    width: 32px;
    margin-left: 17px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1024px) {
  .contacts__content .contacts__phone {
    font-size: 18px;
  }

  .social .social__email {
    img {
      width: 32px;
    }
    p {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .contacts__content .contacts__phone {
    font-size: 16px;
  }

  .contacts__availability {
    font-size: 10px;
    margin-top: 7px;
  }

  a img {
    width: 66px;
  }

  .social {
    display: none;
  }
}
