.entry {
  padding-top: 40px;
  padding-bottom: 90px;

  .entry__title {
    display: flex;
    justify-content: center;
  }

  h2 {
    margin-top: 28px;
    width: 80%;
  }
}

.entry__rectangles {
  display: grid;
  justify-content: center;
}

.rectangle {
  margin-top: 7px;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.rectangle.show:nth-child(1) {
  opacity: 0.2;
}

.rectangle.show:nth-child(2) {
  transition-delay: 200ms;
  opacity: 0.5;
}

.rectangle.show:nth-child(3) {
  transition-delay: 400ms;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .entry {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 600px) {
  .entry {
    padding-bottom: 40px;

    h2 {
      width: 90%;
    }
  }

  .rectangle {
    width: 4px;
    height: 4px;
  }
}
