.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}

.popup-container {
  background: var(--default-black);
  color: white;
  width: 80%;
  max-width: 1000px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: #626262;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 10;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background: hsla(358, 79%, 50%, 1);
  }
}

.content {
  display: flex;
}

.popup-box {
  width: 50%;
  background-image: url(./../../../assets/images/popup-box.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 35px;
  line-height: 123%;
  text-align: left;
}

.popup-form-section {
  flex: 1;
  padding: 40px;
}

.input-group {
  position: relative;
  margin: 50px 0px;

  .icon {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  input {
    width: 100%;
    padding: 30px 30px 30px 60px;
    background: #f6f6f6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    font-family: TTNorms;
    text-transform: uppercase;
  }
}

.checkbox {
  display: flex;
  grid-gap: 20px;
  margin-top: 20px;
  justify-content: center;

  a {
    text-decoration: underline;
  }
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .content,
  h1 {
    text-align: center;
  }

  .popup-box {
    display: none;
  }

  .input-group {
    margin: 30px 0px;

    .icon {
      left: 20px;
    }

    input {
      padding: 20px 20px 20px 50px;
      font-size: 14px;
    }
  }

  .btn {
    width: 100%;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .close-btn {
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .input-group {
    margin: 20px 0px;

    .icon {
      left: 10px;
    }

    input {
      padding: 20px 20px 20px 35px;
      font-size: 12px;
    }
  }

  .checkbox {
    font-size: 10px;
    grid-gap: 5px;
  }
}
