<section id="special-offer">
  <app-entry [title]="title"></app-entry>
  <div class="container">
    <div class="center">
      <div class="content">
        <div class="content__side content__right">
          <div class="subtitle">
            <p>НАЧНЕМ РАБОТУ</p>
          </div>
          <p>
            Предлагаем начать с первого экрана за 8990 тенге для новых клиентов,
            если вам понравится результат — продолжим работу по полному проекту.
          </p>
        </div>
        <div class="content__middle">
          <img src="{{ laptopImageUrl }}" alt="Laptop Image" />
        </div>
        <div class="content__side content__left">
          <div class="subtitle">
            <p>ВЫИГРЫШНАЯ СИТУАЦИЯ</p>
          </div>
          <p>
            Вы ничего не потеряете и это вас ни к чему не обязывает, но это
            предложение поможет вам убедиться в нашей компетентности.
          </p>
        </div>
      </div>
      <div class="btn__container">
        <button class="btn" (click)="togglePopup()">
          РАССЧИТАТЬ СТОИМОСТЬ вашего проекта за 1 час
        </button>
      </div>
    </div>
  </div>
</section>
